.Cta {
  color: var(--red);
  border: 1px solid currentColor;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  transition: all 150ms ease-in-out;

  &:hover {
    background-color: var(--red);
    color: white;
  }
}
