.form {
  max-width: 50rem;
  display: grid;
  gap: 1rem;
  label {
    font-size: 1.6rem;
    text-transform: capitalize;
  }
}
.input {
  input {
    font-size: 1.6rem;
    border: 1px solid;
    padding: 0.5rem;
  }
}
.add {
  background-color: gray;
  color: white;
}
